<%include ../partials/header%>
<link rel="stylesheet" type="text/css" href="/css/movie.css"/>
<div class="embed-responsive embed-responsive-16by9">
  <video  class="video" src="http://localhost:3030/video?path=<%=path%>" controls="controls">
  <% if (user.language == "francais") { %>
   <track label="English" kind="captions" srclang="en" src="<%=path_sub_en%>" >
   <track label="French" kind="captions" srclang="fr" src="<%=path_sub_fr%>" default>
  <% } else { %>
   <track label="English" kind="captions" srclang="en" src="<%=path_sub_en%>" default>
   <track label="French" kind="captions" srclang="fr" src="<%=path_sub_fr%>">
  <% } %> 
  </video>
   <!-- <button id="subtitles" type="button" data-state="subtitles">CC</button> -->

</div>

<div class="jumbotron">
  <h2><%=title%> (<%=info.data.movie.year%>)</h2>
  <img src="<%=info.data.movie.medium_cover_image%>"></img>
  <br/>
  <h4 id="description"><%=info.data.movie.description_intro%></h4>
  <h5><%=info.data.movie.runtime%> min</h5>
  <h5><%=info.data.movie.rating%>/10</h5>
</div>
<div class="jumbotron">
  <h3>Comment Section</h3>
  <form id="commentForm">
    <input type="text" name="comment" class="form-control" id="newComment" required>
    <input type="submit" value="new comment" class="btn btn-default">
  </form><br>
  <div id="commentSection">
  </div>
</div>
<script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
<script> var room = '<%=room%>',
             user =  '<%=user.login%>';
             imdb_code = '<%=info.data.movie.imdb_code%>';
</script>
<script src="/js/download.js"></script>
<script src="/js/cast.js"></script>
<%include ../partials/footer%>
